.b-example-divider {
  height: 0.1rem;
}

.bbkurl {
  font-size: 1em;
  background: #f4f2ef;
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

.bbkurl a {
  color: #690;
}

.timeseriesTable {
  display: none;
}

.timeseriesChart {
  display: block;
}
